{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
	<!-- Featured Products -->
	<h3 class="my-4 border-bottom pb-1">Brands</h3>
	<div class="row">
		{% if data %}
            {% for brand in data %}
                <div class="col-md-3 mb-4">
                    <div class="card shadow">
                      <a href="/brands-products-list/{{ brand.id }}"><img src="/media/{{ brand.image }}" width="250" height="250" class="card-img-top" alt="{{ brand.brand_name }}"></a>
                      <div class="card-body">
                        <h6 class="card-text"><a href="/brands-products-list/{{ brand.id }}">{{ brand.brand_name }} </a></h6>
                      </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
		</div>
	</div>
</main>
{% endblock %}