
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    <h1 align="center">Order Report</h1>
  <canvas id="myChart">month</canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');
  {% if month %}

  new Chart(ctx, {

    data: {
      labels: {{month}},
      datasets: [{
          type: 'bar',
        label: '# Total of Month ($)',
        data: {{total}},
        borderWidth: 1
      },
          {
              type: 'line',
        label: '# Qty of Month',
        data: {{qty}},
        borderWidth: 1
      },
                    {
              type: 'line',
        label: '# Remaining of Month',
        data: {{qty_re}},
        borderWidth: 1
      },
      ]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
  {% endif %}
</script>

{% endblock %}




